@use '../mixins';
@use '../variaveis';


.container__principal{
    padding: 16px;
    background-color: variaveis.$cinza-claro;
    &-infos{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h2{
            @include mixins.ff-fs-cl(variaveis.$fontes, 1.3rem, variaveis.$preto)
        }
        button{
            @include mixins.ff-fs-cl(variaveis.$fontes, .8rem, variaveis.$branco);
            font-weight: 600;
            width: 152px;
            height: 40px;
            background-color: variaveis.$azul;
            border: none;
            cursor: pointer;
            transition: .4s ease;
            margin-bottom: 1rem;
            &:hover{
                background-color: variaveis.$branco;
                color: variaveis.$azul;
                border: 1px solid variaveis.$azul;
            }
        }
    }
}

@media(min-width: 768px){
    .container__principal{
        padding: 32px;
        &-infos{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media(min-width: 1280px){
    .container__principal{
        padding: 32px 152px;
    }
}